@import "tailwindcss";


html, body {
  cursor: none;
}

@keyframes slow-ping {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.8); /* bigger than default */
    opacity: 0.3;
  }
  100% {
    transform: scale(2); /* max size */
    opacity: 0;
  }
}

.animate-slow-ping {
  animation: slow-ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}
